{% extends 'cliente/Base.html' %}
{% load bootstrap4 %}
{% load bootstrap_icons %}
{% block content %}
    <h2>Novo Serviço</h2>
    <a href="{% url 'cad_Cliente' %}">Novo Cliente {% bs_icon 'person-plus-fill' %}</a>
    <a href="{% url 'cad_Vendedor' %}">Novo Vendedor {% bs_icon 'person-plus-fill' %}</a>
    <form method="post" class="form">
        {% csrf_token %}

        {% bootstrap_form cad_ServicoForm %}
        
        {% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}

        
        
    </form>
{% endblock content %}