<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
{% load bootstrap_icons %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script type="text/javascript" src="{% static 'scripts.js' %}"></script>
    <style type="text/css">
        @page{
            size: letter portrait;
            margin: 2cm;
        }
    </style>
    <title>Pró-Limper</title>
</head>
<body>
    {# JavaScript #}
    {% bootstrap_javascript jquery='full' %}

    <div class="container">
        <div id="content_frame" class="d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div id="Logotipo">
                    <h1>PRÓ-LIMPER</h1>
                    <h3>Proteção e Limpeza para Tecidos</h3>
                    <p>Tels.: 21 3346-7590 / 21 98707-6705</p>
                </div>
            </header>
            <main>
                <div id="dados">
                    <h2>PRESTAÇÃO DE SERVIÇO</h2>
                    <p>DATA: {{servicos.data_Solicitacao | date:"d/m/Y" }}</p>
                    <p>NOME: {{servicos.Cliente.nome}}</p>
                    <p>ENDEREÇO: {{servicos.Cliente.endereco}}</p>
                    <p>BAIRRO: {{servicos.Cliente.bairro}}</p>
                    <p>VENDEDOR: {{servicos.Vendedor.nome}} LOJA: </p>
                </div>
                <div>
                    <table>
                        <thead >
                            <th scope="col">Quantidade</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Valor</th>    
                        </thead>
                        <tbody>
                            <tr class="table_Linha">
                                <td scope="row">#</td>
                                <td>{{servicos.Descricao}}</td>
                                <td>{{servicos.Valor}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <th scope="row">Total</th>
                            <td>{{servicos.Valor}}</td>
                        </tfoot>
                        
                    </table>
                </div>
            </main>
        </div>
    </div>
</body>
</html>