#container{
    width: 21cm;
    height: 29.7cm;
    margin: auto;
    padding: 10px;
}

#Logotipo{
    width: 100%;
    height: 200px;
    float: center;
}
#txt_logo{
    width: 50%;
    float: left;
}

.img_logo{
    
}
.img_logo img{
    width: 10%;
    float: left;
}

